<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
	
	<!-- rest服务提供类 -->
	<bean id="test" class="com.test.Test"></bean>
	
	<bean id = "myProvider" class = "com.test.MyProvider"></bean>
	
</beans>